<!DOCTYPE html>
<html lang="pt-br">

	<%- include("inc/head") -%>
    
<body>
    <%- include("inc/header-menu") -%>
    <main id="index" ></main>
	<%- include("inc/footer") -%>
	<%- include("inc/footer-scripts") -%>
</body>
</html>