:root{
    --azul_escuro: #031059;
    --azul_claro: #2c3d73;
    --laranja_escuro: #f24405;
    --laranja_claro:#f2836b;
    --branco:#f2f2f2;

    --fonte_roboto: 'Roboto', sans-serif;
    --fonte_oswald: 'Oswald', sans-serif;
    
    }